@media (min-width: 375px) {
  .box {
    max-width: 375px;
  }
}

body {
  margin: 0;
  font-size: 15px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 1;
}

.p50 {
  padding: 50px;
}

.orange-bright {
  background-color: hsl(31, 77%, 52%);
}

.cyan-dark {
  background-color: hsl(184, 100%, 22%);
}

.cyan-very-dark {
  background-color: hsl(179, 100%, 13%);
}

.transparent-white {
  color: hsla(0, 0%, 100%, 0.75);
}

.gray-very-light {
  color: hsl(0, 0%, 95%);
}

.lexend {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
}

.shoulders {
  font-family: "Big Shoulders Display", cursive;
  font-family: 700;
}

.uppercase {
  text-transform: uppercase;
}
